<h1>Online Bookstore</h1>
<p>
  This is the home page for the
  <a href="https://hidden-mountain-91204.herokuapp.com/">Online Bookstore</a>
  
</p>

<div class="center jumbotron">
  <h1>Welcome to the Online Bookstore</h1>

  <h2>
    This is the home page for the
    <a href="https://hidden-mountain-91204.herokuapp.com/">Online Bookstore</a>
    Online Bookstore.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

  
