<h1>Online Bookstore</h1>
<p>
  This is the home page for the
  <a href="https://hidden-mountain-91204.herokuapp.com/">Online Bookstore</a>
  
</p>

<div class="center jumbotron">
  <h1>Welcome to the Online Bookstore</h1>

  <h2>
    This is the home page for the
    <a href="https://hidden-mountain-91204.herokuapp.com/">Online Bookstore</a>
    Online Bookstore.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<section class="fullscreen-landing-page">
 	<a href="#body-content"><img src="assets/downarrow.png" id="down-arrow"></a>

 </section>
 <section class="content"id="body-content">
 	
	<div class="wrap">
	    <div id="showcase" class="noselect">
		      <div class="showSingle"><a href="#panel1"><img class="cloud9-item" src="assets/book1.png" target="1" alt=""></a></div>
		      <div class="showSingle"><img class="cloud9-item" src="assets/top.png" target="2" alt=""></div>
		      <div class="showSingle"><img class="cloud9-item" src="assets/authors.png" target="3" alt=""></div>
		      <div class="showSingle"><img class="cloud9-item" src="assets/new.png" target="4" alt=""></div>
		      <div class="showSingle"><img class="cloud9-item" src="assets/discount.png" target="5" alt=""></div>
		      <div class="showSingle"><img class="cloud9-item" src="assets/calendar.png" target="6" alt=""></div>
	    </div>
   
  	</div>
  	<p id="item-title">&nbsp;</p>
 	<div class="info">
      <div class="targetDiv" id="panel1">
        <h1>Book of the month</h1>
                <div id="bookofthemonth-image">
                    <img src="assets/image.jpg">
                </div>
                <div id="bookofthemonth-text">
                    Title<br>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                </div>
       </div>
      
       <div class="targetDiv" id="panel2">
            <h1>Top 10 books of the year</h1>
                <div id="top10-images">
                  <img src="assets/image1.jpg"class="grill">
                  <img src="assets/image1.jpg"class="grill">
                  <img src="assets/image1.jpg"class="grill">
                  <img src="assets/image1.jpg"class="grill">
                  <img src="assets/image1.jpg"class="grill">
                  <img src="assets/image1.jpg"class="grill">
                  <img src="assets/image1.jpg"class="grill">
                  <img src="assets/image1.jpg"class="grill">
                  <img src="assets/image1.jpg"class="grill">
                  <img src="assets/image1.jpg"class="grill">
                </div>
          
      </div>
      
         <div class="targetDiv" id="panel3">
          <h1> The author of the year</h1>
              <div id="authorofthemonth-image">
              <img src="assets/image.jpg"></div>
              <div id="authorofthemonth-text">
                    Author Name<br>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
              </div>
        </div> 
        <div class="targetDiv" id="panel4">
          <h1>New books</h1>
              <div id="newbooks-images">
                  <img src="assets/catcher.JPG"class="grill">
                  <img src="assets/pi.JPG"class="grill">
                  <img src="assets/wimpy.jpg"class="grill">
                  <img src="assets/grumpy.jpg"class="grill">
              </div>
        </div>
         <div class="targetDiv" id="panel5">
          <h1>Discounts</h1>
              <div id="discounts-text">
                <h1 style="color:red;">No discounts available at the moment</h1>
              </div>
        </div>
         <div class="targetDiv" id="panel6">
          <h1>Events</h1>
              <div id="calendar-eventofthemonth">
              </div>
        </div>
	</div>
 
</section>
  
