<h1>Listing authors</h1>
 
<table class="books_table">
  <tr>
    <th>Name</th>
  </tr>
 
  <% @authors.each do |author| %>
  <!-- http://stackoverflow.com/questions/1086360/how-do-i-wrap-link-to-around-some-html-ruby-code -->
    <tr>
      <td><%= link_to author_path(author) do %><%=author.name %><% end %></td>
    </tr>
  <% end %>
</table>