
body{
  z-index: 5;
 
}

* {
  padding: 0;
  margin: 0;
}
 


  
#contacts ul li ul li {

  width: 120px;
  height: 60px;

 
  
  }



#icon{
height:60px;
margin-top:-15px;
}

 

nav ul li form input {
	border-radius: 5px;

}


nav ul li .basket{
	display:block;
	cursor:pointer;
}
 
 a:visited {
  color: black;
}
 a:hover,  a:target {
  color: white;
}

#content {
  padding:10%;
}
footer{
	position: relative;
    margin-top: -50px;
    height: 60px;
	padding:5px 0px;
	clear: both;
	background: #2f4f4f;
	text-align: center;
	color: #f5f5f5;

}

/*shopping cart css*/

#cart{
margin-top:35px;
margin-left:1000px;
position:absolute;
display:none;
z-index: 101;
}

#cartheader {

padding:5px;
list-style-type:none;
background-color:#2f4f4f;
height:30px;
width:270px;
border-top-right-radius: 6px;
border-top-left-radius: 6px;
color:#30ffb5;
}

#cartheader li {

Display:inline;
font:calibri;
font-size:12px;

}

#cartlineitem{
margin-top:-16px;
color::#2f4f4f;
background-color:#30ffb5;
width:280px;
font:calibri;
font-size:14px;
}

#cartlineitem input{

vertical-align: middle;
}

#bookimg{
width:30px;
height:50px;

}

#minus{
width:20px;
height:10px;

}

#carttotal {
padding:5px;
list-style-type:none;
background-color:#2f4f4f;
height:20px;
width:270px;
text-align:right;
color:#30ffb5;
}

#carttotal  li{
 font-family:calibri;
 font-weight:bold;

}

#cartcheckout {
padding:5px;
list-style-type:none;
background-color:#30ffb5;
height:25px;
width:270px;
text-align:center;
}

#cartcheckout li{
 font-family:calibri;
 font-weight:bold;
color:white;
font-size:25px;

}

#paypal {
padding:5px;
list-style-type:none;
background-color:#2f4f4f;
height:30px;
width:270px;
text-align:center;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
}


#triangle-up {
margin-left:120px;
padding:5px;
width: 0;
height: 0;
border-style: solid;
border-width: 0 13px 12px 13px;
border-color: transparent transparent #2f4f4f transparent;
	
}

/* Fullscreen Landing frame */
    .fullscreen-landing-page{

    height:100vh;
    width: 100%;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://www.lexingtonbooksandco.com/wp-content/uploads/2015/12/o-BOOKSTORE-facebook.jpg')no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    opacity: 50%;
    }
    #down-arrow{
    cursor: pointer;
    height: 100px;
    width: 100px;
    margin-top: 35%;
    float:center;
    padding-left: 50%;

    }

/* Main Page Body Styles (including carousel and toggle sliders)*/

  #body-content{
    background-color: #2B2B2B;
  }
  .wrap{
    padding: 5px;
   
    float:center;

  }
  #showcase {
    visibility: hidden;  
    height: 460px;
    z-index: 5;
    margin-top:5%;

  }
  #showcase img {
    cursor: pointer;
  }
  #item-title {
      color: black;
      font-size: 29px;
      letter-spacing: 0.13em;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 22px;
  }
  .info{
 
  }
  .targetDiv{
    display:none;
    
   
  }

  #panel1{
    height: 480px;
    background-color: #62BDE7;
    text-align: center;
  }
  #bookofthemonth-image{
    float: left;
    margin: 1px;
    padding-left: 5%;
    padding-top:3%;
  }
  #bookofthemonth-text{
    float: right;
    margin: 1px;
    padding-right: 5%;
    padding-top: 3%;
    width: 50%;
    height: 400px;
  }
  #panel2{
    height: 480px;
    background-color: #57B583;
    text-align: center;
  }
  #top10-images{
    margin:5%;
    padding: 5%;
  }
  .grill{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
  }
    
  #panel3{
    height: 480px;
    background-color: #FFC070;
    text-align: center;

  }
  #authorofthemonth-image{
    float: left;
    margin: 1px;
    padding-left: 5%;
    padding-top:3%;
  }
  #authorofthemonth-text{
    float: right;
    margin: 1px;
    padding-right: 5%;
    padding-top: 3%;
    width: 50%;
    height: 400px;
  }
  #panel4{
    height: 480px;
    background-color: #FF6E1F;
    text-align: center;
  }
  #newbooks-images{
    margin:5%;
    padding:5%;
  }
  #panel5{
    height: 480px;
    background-color: #85D1D7;
    text-align: center;
  }
  #discounts-text{
    text-align: center;
  }
  #panel6{
    height: 480px;
    background-color: #FF9887;
    text-align: center;
  }
  #calendar-eventofthemonth{

  }


/* contact page*/

			
#full-screen-background-image {
  z-index: -999;
  min-height: 80%;
  min-width: 1024px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
			
.contactwrapper {
 width: 100%;
 height: 150px;
 background-color:#ffffff;
 font-size: 1.8rem;
}


.contactwrapper img{
 width:20px;
 height:30px;
}

.contactwrapper td{
 padding-left:30px;
 padding-top:10px;
}

.contactwrapper td {
    vertical-align: baseline;
}
.contactwrapper td img {
    vertical-align: middle;
}

.title{
font-size:25px;
}

.hours{
font-size:13px;  

}

.hoursa{

padding-left:5px;

}


			
#map {
 width: 100%;
 height: 400px;
 
}
	  

#mapbanner{
color: white;


}

#mapwrapper2{

Display:none;
}

#map2 {

width: 100%;
height: 400px;		
}

#mapbanner{
width: 100%;
height: 50px;
margin-top:0px;
border-radius: 0em;
font-size:25px;
font-family: "Fira Sans", sans-serif;
padding:10px;
}

/* About Us - image slide show - SC */
#gallery {
	position:relative;
	height:360px
}
	#gallery a {
		float:left;
		position:absolute;
	}
	
	#gallery a img {
		border:none;
	}
	
	#gallery a.show {
		z-index:10;
	}

	#gallery .caption {
		z-index:11; 
		background-color:#000; 
		color:#30ffb5; 
		height:100px; 
		width:100%; 
		position:absolute;
		bottom:0;
	}

	#gallery .caption .content {
		margin:-5px;
	}
	
	#gallery .caption .content h3 {
		margin:0;
		padding:0;
		color:#30ffb5;
	}
	
	.outerContainer {
		display: table;
		width: 100%;
		overflow: hidden;
	}
	
	.innerContainerLeft1 {
		width: 50%;
		float: left;
		height: 100%;
		margin-bottom: 100px;
	}
	
	.innerContainerRight1 {
		float: right;
		width: 40%;
		height: 100%;
		text-align: center-left;
	}

	.innerContainerLeft2 {
		float: left;
		width: 300px;
		height: 100%;
		text-align: center;
	}
	
	.innerContainerRight2 {
		float: right;
		width: 300px;
		height: 100%;
		text-align: center;
	}
	
	.innerContainerMiddle2 {
		margin: 0 375px;
		height: 100%;
		text-align: center;
	}
/* ENDS - About Us - image slide show - SC */

/* Server side css - SC */
.new_sc_form {
  margin-bottom: 50px;
}

.books_table {
  margin-bottom: 50px;
  width: 100%;
}

.scShow {
  margin-bottom: 50px;
  margin-top: 50px;
}