<footer class="footer">
  <small>
    <a href="https://hidden-mountain-91204.herokuapp.com/">Online Books</a>
    by <a href="https://hidden-mountain-91204.herokuapp.com/">Kevin Dennis Shonagh Cheevers Carlos Alvarez</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://hidden-mountain-91204.herokuapp.com/">News</a></li>
    </ul>
  </nav>
</footer>